* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


html, body { 

  height:100%; 
  background: #33343e;

}

.workspaceTab{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #33343e;
  width: 16%;
  height: 100%;
  float: left;
  padding-left: 1%;

}

.innerWorkspace {

  width: 90%;
  height: 95%;
 
}

.namesWorkspace {

  text-align: left;
  font-family: Calibri;
  font-weight: bold;
  color: #dda15e;
  font-size: 1.8vw;

}

.headerText {

  padding-top: 10%;
  color: #dda15e;
  font-weight: bold;
  font-size: 1.6vw;
  font-family: Calibri;

}

.toolBoxInterior {

  padding-top: 5%;
  padding-left: 8%;
  color: #4e4e4e;
  font-size: 1.2vw;

}


.mainContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 82%;
}

.mainContentWindow {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #767687;
  border-radius: 60px; 
  height: 97%;
  width: 97.5%;

}

.titleBarWrapper {

  display: flex;
  background-color: #f7f7f7;

}

.contentGenWrapper {

  display: flex;
  background-color: none;
  height: 80%;
  width: 95%;

}


.contentGenWindow {

  display: flex;
  border-radius: 50px;
  background-color: #C2C2CC;
  margin-top: 2.5%;
  height: 100%;
  width: 100%;
  font-size: 200%;
  resize: none;
  font-family: Calibri;
  margin: auto; 
  padding-top: 1vw;
  padding-left: 1vw;
  overflow: auto;

}

.bottomRow {

  display: flex;
  justify-content: space-between;
  background-color: none;
  height: 5%;
  width: 95%;

}

.queryBox {

  display: flex;
  background-color: #C2C2CC;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  padding-top: .75vw;
  padding-left: 1vw;
  font-size: 200%;
  resize: none;
  border: none;
  overflow: hidden;

}

.genButton {

  display: flex;
  background-color: #33343e;
  width: 3%;
  height: 100%;
  border-radius: 20px;
  border: none;
}

.genButton1 {

  display: flex;
  background-color: #33343e;
  width: 3%;
  height: 100%;
  border-radius: 20px;
  border: none;
  margin-right: 20%;
}


.genImg {

  display: block;
  max-height: 100%;
  height: 3.5vh;
  width: auto;
  margin-top: 12%;
  margin-left: 10%;

}

.navigationWrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
  margin-top: 8%;

}
.barImg {

  width: auto;
  height: 100%;
  max-height: 3vh;
  margin-right: 15px;

}
.logoImg {

  width: auto;
  height: 200%;
  max-height: 20vh;

}
.logoAndName {

  display: flex;
  justify-content: center;
  height: 50%;
  font-size: 350%;
  font-weight: bold;
  border: none;
  color: #f7f7f7;

}

.navigationButton {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 92%;
  height: 15%;
  border-radius: 15px;
  background-color: #33343e;
  
  padding-left: 3%;
  font-size: 190%;
  resize: none;
  font-family: Moon;
  overflow: hidden;
  border: none;
  color: #f7f7f7;

}

.navigationButton:hover {
  background: #474956;
}

.logOutWrapper {

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 10%;
  background: none;

}

.logOut {

  display: flex;
  justify-content: space-between;
  color: #C2C2CC;
  height: 100%;
  background: none;
  border: none;
  font-family: Moon;
  font-size: 250%;
  margin-top: 5%;
  margin-left: 8%;

}

.logOutImg{

  width: auto;
  height: 80%;
  vertical-align: center;
  max-height: 1.5vh;
  margin-top: 1.7%;
  margin-right: 5%;

}

.emptyClass {

  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.topCutOffWindow {

  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: white;
  width: 80%;
  height: 15%;

}

.documentName {

  border: none;
  padding-left: 2.5%;
  width: 50%;
  height: 40%;
  font-size: 3vw;
  outline: none;
  font-family: Calibri;

}

.bottomWindow {

  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 75%;
  height: 85%;
  align-items: center; /* Center children horizontally, Moved generate button up? */

}


.fileUploadWindow {
  margin-top: 3vw;
  width: 75%;
  height: 40%; 
  border-style: dotted;
  background-color: #C2C2CC;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-grid;
}

.fileUploadWindow img {
  max-width: 40%;
  max-height: 40%;
  display: block;
  margin: auto;
}

.uploadText {

  position: absolute;
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  color: #131313; /* Adjust text color */
  font-size: 40px; /* Adjust font size */
  font-family: Calibri;

}

.uploadedDocWindow {

  width: 75%;
  height: 40%;
  border-radius: 20px;
  background-color: #C2C2CC;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.uploadedText {

  padding-top: 1vw;
  text-align: center; 
  font-size: 150%;
  font-weight: bold;
  font-family: Calibri;

}

.uploadedDocs {

  margin: 0;
  padding-left: 2vw;
  font-size: 150%;
  font-family: Calibri;

}

.innerWindow {

  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  background-color: none;
  width: 75%;
  height: 100%;

}

a:link, a:visited {

  color: #C2C2CC;
  text-decoration: none;

}

pre {
  white-space: pre-wrap;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

