* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/* Rules */

html, body { 

  height: 100%; 
  background: #33343e;

}

a:link, a:visited {

  color: #C2C2CC;
  text-decoration: none;

}

pre {
  white-space: pre-wrap;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

/* Includes toolbox section on the left */

.workspaceTab{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #33343e;
  width: 16%;
  height: 100%;
  float: left;
  padding-left: 1%;

}

.navigationWrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
  margin-top: 8%;

}
.barImg {

  width: auto;
  height: 100%;
  max-height: 3vh;
  margin-right: 15px;

}
.logoImg {

  width: auto;
  height: 200%;
  max-height: 20vh;
  margin-bottom: 5%;

}

/* 
.logoAndName {

  display: flex;
  justify-content: center;
  height: 50%;
  font-size: 350%;
  font-weight: bold;
  border: none;
  color: #f7f7f7;

} Got replaced by the Ghostwryte logo but I'm leaving this here just in case I end up wanting to change it.*/ 

.navigationButton {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 92%;
  height: 15%;
  border-radius: 15px;
  background-color: #33343e;
  padding-left: 3%;
  font-size: 2vh;
  resize: none;
  font-family: Moon;
  overflow: hidden;
  border: none;
  color: #f7f7f7;

}

.navigationButton:hover {
  background: #474956;
}

.logOutWrapper {

  display: flex;
  flex-direction: column;  
  align-content: center;
  width: 100%;
  height: 10%;
  background: none;

}

.logOut {

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #C2C2CC;
  height: 50%;
  background: none;
  border: none;
  border-radius: 15px;
  font-family: Moon;
  font-size: 2.7vh;
  margin: 2.5%;
  vertical-align: center;

}

.inheritSizeBox {
  display: flex;
  height: 100%;
  width: 100%;
  background: red;
}

.logOut:hover {
  background: #474956;
}

.logOutImg{

  width: auto;
  height: 80%;
  vertical-align: center;
  margin-top: -1%;
  max-height: 1.5vh;

}

/* Includes Main Content (AKA content to the right of the toolbox section). */

.mainContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 82%;
}


.mainContentWindow {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #767687;
  border-radius: 45px; 
  height: 97%;
  width: 97.5%;

}
.titleAndContentWrapper{

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.titleBarWrapper {

  display: flex;
  background: #e7e7ec;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  height: 15%;
  width: 100%;
  align-self: flex-start;

}

.contentGenWrapper {

  display: flex;
  background-color: none;
  height: 80%;
  width: 100%;
  
}

.contentGenWindow {

  display: flex;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-style: solid;
  border-top-color: #33343e;
  background-color: #C2C2CC;
  margin-top: 2.5%;
  height: 100%;
  width: 100%;
  font-size: 1.6vh;
  font-family: Calibri;
  padding-top: 2vw;
  padding-left: 2vw;
  resize: none;
  margin: auto; 
  overflow: auto;

}

.bottomRow {

  display: flex;
  justify-content: space-between;
  background-color: none;
  height: 5%;
  width: 95%;

}

.emptyClass {

  display: flex;
  height: 100%;
  width: 70%;
  justify-content: space-between;
}

.queryBox {

  display: flex;
  background-color: #C2C2CC;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  padding-top: .75vw;
  padding-left: 1vw;
  font-size: 1.7vh;
  resize: none;
  border: none;
  overflow: hidden;

}

.genButton {

  display: flex;
  background-color: #33343e;
  width: 2vw;
  height: 100%;
  border-radius: 5px;
  border: none;
}

.genButton1 {

  display: flex;
  background-color: #33343e;
  width: 2vw;
  height: 100%;
  border-radius: 5px;
  border: none;
}


.genImg {

  display: block;
  max-height: 100%;
  max-width: 100%;
  height: 3.5vh;
  width: auto;
  margin-top: 12%;
  margin-left: 8%;
}

.paddingElement {
  height: 5%;
  width: 20%
}

/* Includes Content related to AITraining Page */

.fileUploadWindow {
  margin-top: 3vw;
  width: 75%;
  height: 40%; 
  border-style: dotted;
  background-color: #C2C2CC;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-grid;
}

.fileUploadWindow img {
  max-width: 40%;
  max-height: 40%;
  display: block;
  margin: auto;
}

.uploadText {

  position: absolute;
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  color: #131313; 
  font-size: 40px; 
  font-family: Calibri;

}

.uploadedDocWindow {

  width: 75%;
  height: 40%;
  border-radius: 20px;
  background-color: #C2C2CC;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.uploadedText {

  padding-top: 1vw;
  text-align: center; 
  font-size: 150%;
  font-weight: bold;
  font-family: Calibri;
}

.uploadedDocs {

  margin: 0;
  padding-left: 2vw;
  font-size: 150%;
  font-family: Calibri;
}

.innerWindow {

  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  background-color: none;
  width: 75%;
  height: 100%;
}

/* Account Creation Page */

.AccCP {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.accountCreationWrapper {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 60%;
  background: #767687;
  border-radius: 25px;
}

.actionSelector {

  display: flex;
  width: 55%;
  justify-content: space-evenly;
  align-items: center;
  font-family: Moon;
  font-size: 1.7vh;



}

.signInButton {

  display: flex;
  background: none;
  border: none;
  font-family: Moon;
  font-size: 3vh;
  /* border-bottom: 4px solid #C2C2CC; */

}

.signUpButton {

  display: flex;
  background: none;
  border: none;
  font-family: Moon;
  font-size: 3vh;
  /* border-bottom: 4px solid #C2C2CC; */

}

.signButtonClicked {

  display: flex;
  background: none;
  border: none;
  font-family: Moon;
  font-size: 3vh;
  border-bottom: 4px solid #C2C2CC;

}

#signIn {

}

#signUp {
}

/* Other */

