* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

/* Rules */

:root {

  --bgColor: #090909; /* Navigation Bar */
  --accentOne: #090909; /*Bottom Part */
  --accentTwo: #202020; /* Main Content window and Query Box*/
  --accentThree: #000000; /* Top Accent Part*/
  --textAndAccentFour: #eaeaea;
  --startColor: #211d1d;
  --endColor: #171513;

}

html, body { 

  height: 100%; 
  overflow: hidden;
  background: var(--bgColor);

}

body {
  margin-left: .5%;
}

a:link, a:visited {

  color: #C2C2CC;
  text-decoration: none;

}

pre {
  white-space: pre-wrap;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

/* Includes toolbox section on the left */

.workspaceTab{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--bgColor);
  width: 16%;
  height: 100%;
  float: left;

}

.navigationWrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  width: 97%;
  height: 88.6%;
  margin-top: 2%;
  background-image: linear-gradient(var(--startColor), var(--endColor));
  border-radius: 10px;

}
.barImg {

  width: auto;
  height: 100%;
  max-height: 3vh;
  margin-right: 15px;

}
.logoImg {

  width: auto;
  height: 200%;
  max-height: 16vh;
  margin-bottom: 5%;
  padding-top: 10%;

}

/* 
.logoAndName {

  display: flex;
  justify-content: center;
  height: 50%;
  font-size: 350%;
  font-weight: bold;
  border: none;
  color: #f7f7f7;

} Got replaced by the Ghostwryte logo but I'm leaving this here just in case I end up wanting to change it.*/ 

.navigationButton {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 92%;
  height: 5%;
  border-radius: 15px;
  background: none;
  padding-left: 3%;
  font-size: 1.7vh;
  resize: none;
  font-family: FranieRegular;
  overflow: hidden;
  border: none;
  color: #dddddd;

}

.navigationButton:hover {
  background: #474956;
}

.logOutWrapper {

  display: flex;
  flex-direction: column;  
  align-content: center;
  width: 97%;
  height: 10%;
  background: none;

}

.logOut {

  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  height: 50%;
  width: 100%;
  background: var(--endColor);
  color: var(--textAndAccentFour);
  font-family: FranieRegular;
  font-size: 2vh;
  border: none;
  border-radius: 10px;
  
}

.inheritSizeBox {
  display: flex;
  height: 100%;
  width: 100%;
  background: red;
}

.logOut:hover {
  background: #474956;
}

.logOutImg{

  width: auto;
  height: 80%;
  vertical-align: center;
  margin-top: -1%;
  max-height: 1.5vh;

}

/* Includes Main Content (AKA content to the right of the toolbox section). */

.mainContentWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 97.5%;
  width: 84%;
}


.mainContentWindow {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--accentOne);
  height: 100%;
  width: 100%;

}
.titleAndContentWrapper{

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.titleBarWrapper {

  display: flex;
  align-items: center;
  /* background: var(--accentThree);
  border-bottom-style: solid; */
  border-bottom-color: var(--textAndAccentFour);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  height: 15%;
  width: 100%;
  align-self: flex-start;

}

.titleHolder {

  display: flex;
  margin-left: .5%;
  background: var(--startColor);
  height: 90%;
  width: 98.5%;
  border-radius: 10px;

}

.contentGenWrapper {

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  height: 84.7%;
  width: 99%;
  
}

.contentGenWindow {

  display: flex;
  border-radius: 10px;
  background-image: linear-gradient(var(--startColor), var(--endColor));
  height: 99%;
  width: 79%;
  font-size: 1.6vh;
  font-family: Calibri;
  padding-top: 2vw;
  padding-left: 2vw;
  resize: none;
  margin: auto; 
  overflow: auto;
  color: var(--textAndAccentFour);

}

.historyWrapper{
  
  display: flex;
  flex-direction: column;
  height: 99%;
  width: 20%;
  background: none;
  gap: 1%;
  
}

.historyID{

  display: flex;
  height: 10%;
  width: 100%;
  background: none;
  border-radius: 10px;
  border-bottom-style: solid;
  border-bottom-color: #242424;
  color: var(--textAndAccentFour);
  align-items: center;
  justify-content: left;
  padding-left: 5%;
  padding-top: 3%;
  font-size: 4vh;
  font-family: FranieRegular;
  background: var(--startColor);

}
.historyContentWindow{

  height: 89%;
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(var(--startColor), var(--endColor));

}

.bottomRow {

  display: flex;
  justify-content: center;
  background-color: none;
  height: 5%;
  width: 79%;

}

.bottomRowInnerWrapper {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  height: 100%;
  width: 60%;
  background-color: var(--endColor);
  border-radius: 10px;

}

.queryBox {

  display: flex;
  background: none;
  width: 90%;
  height: 100%;
  padding-top: .75vw;
  padding-left: 1vw;
  font-size: 1.5vh;
  color: var(--textAndAccentFour);
  resize: none;
  border: none;
  overflow: hidden;
  outline: none;

}

.genButton {

  display: flex;
  background-color: var(--textAndAccentFour);
  justify-content: center;
  align-items: center;
  width: 1.8vw;
  height: 70%;
  border-radius: 10px;
  border: none;
}

.genImg {

  display: block;
  max-height: 100%;
  max-width: 100%;
  height: 2.5vh;
  width: auto;
}

.genButton:hover {

  outline: auto;

}

.paddingElement {
  height: 2%;
  width: 20%
}

.paddingElement.one {
  height: 3%;
  width: 20%
}

/* Includes Content related to AITraining Page */

.fileUploadWindow {
  margin-top: 3vw;
  width: 75%;
  height: 40%; 
  border-style: dotted;
  background-color: var(--accentTwo);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-grid;
}

.fileUploadWindow img {
  max-width: 40%;
  max-height: 40%;
  display: block;
  margin: auto;
}

.uploadText {

  position: absolute;
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  color: #131313; 
  font-size: 40px; 
  font-family: Calibri;

}

.uploadedDocWindow {

  width: 75%;
  height: 40%;
  border-radius: 20px;
  background-color: #C2C2CC;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.uploadedText {

  padding-top: 1vw;
  text-align: center; 
  font-size: 150%;
  font-weight: bold;
  font-family: Calibri;
}

.uploadedDocs {

  margin: 0;
  padding-left: 2vw;
  font-size: 150%;
  font-family: Calibri;
}

.innerWindow {

  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  background-color: none;
  width: 75%;
  height: 100%;
}

/* Account Creation Page */

.AccCP {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.accountCreationWrapper {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 40%;
  background: #767687;
  border-radius: 25px;
}

.actionSelector {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  padding:1%;
  font-family: FranieRegular;
  font-size: 1.7vh;
  background: #e7e7ec;
  border-radius: 10px;

}

.signInButton {

  display: flex;
  background: none;
  border: none;
  font-family: FranieRegular;
  font-size: 3vh;
  border-bottom: 3px solid #33343e;

}

.signUpButton {

  display: flex;
  background: none;
  border: none;
  font-family: FranieRegular;
  font-size: 3vh;
  /* border-bottom: 4px solid #C2C2CC; */

}

.signInAndUpWrapper {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  width: 52%;
  background: none;
  margin-bottom: 20%;

}

.userInputAC {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.8vh;
  font-family: FranieRegular;

}

.loginInputBox {

  border: none;
  background: none;
  border-bottom: 4px solid #e7e7ec;
  font-size: 1.5vh;
  height: 20%;
  padding-top: 5%;
  width: 100%;

}

.loginInputBox::placeholder {
  color: #33343e;
}
.loginInputBox:focus {
  outline: none;
}

.ACSubmitButton {

  display: flex;
  justify-content: center;
  font-family: FranieRegular;
  color: black;
  background: #e7e7ec;
  width: 100%;
  height: 20%;
  font-size: 1.5vh;
  padding: 2%;

}

/* Other */

