<!DOCTYPE html>
<html>
    <head>
        <title>GhostWryte.ai</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favIcon.ico') }}">
        <link rel="stylesheet" type="text/css" media="only screen and (max-width: 991px)" href="{{ url_for('static', filename='styleSmall.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleLarge.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleXLarge.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    </head>

    <body class="accountCreationPg">
        <div class="AccCP" id="accPage">
            <header class="topbarContainer">
                <img src="{{ url_for('static', filename='images/newLogoBlack.png') }}" alt="Ghostwryte.ai" class="logoImgAcc" />
                <span class="loginBrandText">Ghostwrtye.AI</span>
            </header>
            <section class="actionSelector">
                <div class="innerTextGrouping">
                    <button class="signInButton" id="signInBtn">Log In</button> or
                    <button class="signUpButton" id="signUpBtn">Sign Up</button>
                </div>
                <span class="innerTextGrouping two">To get started</span>
            </section>

            <section class="signInAndUpWrapper" id="SIAUW">
                <form class="userInputAC" id="userSubmitForm">
                    <label for="username" class="loginText">Email Address</label>
                    <input class="loginInputBox" type="email" id="userEmail" name="email" placeholder="name@domain.com" required />

                    <label for="password" class="loginText">Password</label>
                    <input class="loginInputBox" type="password" id="userPassword" name="password" placeholder="" required />

                    <label for="confirmPassword" id="confText" class="loginText conf">Confirm Password</label>
                    <input class="loginInputBox confirm" type="password" id="confirmPassword" name="confirmPassword" placeholder="" />
                    <div class="loginText Sep"></div>
                    <button class="ACSubmitButton" type="submit" id="ACSubmit">Log In</button>
                </form>
            </section>
        </div>
        <div class="toast-overlay" id="toast-overlay"></div>
        <script type="module" src="{{ url_for('static', filename='javascript.mjs') }}" defer></script>
    </body>
</html>
