<!DOCTYPE html>
<html>
<head>
	<title>GhostWryte.ai</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="workspaceTab">
		<div class="innerWorkspace">

			<div class="namesWorkspace">User's Workspace ▼</div>
			<div class="headerText">TOOLBOX

				<div class=toolBoxInterior><img style="vertical-align:middle" src="{{ url_for('static', filename='images/ContentGeneration.jpg') }}" class="barImg"><a href="{{ url_for('home') }}"> Content Generation</a></div>
				<div class=toolBoxInterior><img style="vertical-align:middle" src="{{ url_for('static', filename='images/StyleAndFormatting.jpg') }}" class="barImg"><a href="{{ url_for('styling_and_format') }}"> Styling & Format</a></div>
				<div class=toolBoxInterior><img style="vertical-align:middle" src="{{ url_for('static', filename='images/AudienceInsights.jpg') }}" class="barImg"><a href="#"> Audience Insights</a></div>
				<div class=toolBoxInterior><img style="vertical-align:middle" src="{{ url_for('static', filename='images/Templates.jpg') }}" class="barImg"><a href="#"> Templates</a></div>

			</div>
			<div class="headerText">CUSTOMIZATION
				
				<div class=toolBoxInterior><img style="vertical-align:middle" src="{{ url_for('static', filename='images/AITraining.jpg') }}" class="barImg"><a href="{{ url_for('ai_training') }}"> AI Training</a></div>

			</div>
		</div>
	</div>

	<div class="mainContentWindow">
		<div class="innerWindow">
			<button class="fileUploadWindow">
		        <img style="vertical-align: middle" src="{{ url_for('static', filename='images/CloudImg.jpg') }}" class="barImg">
		        <p class="uploadText">Drag and drop files here</p>
		    </button>
		    <div class="uploadedDocWindow">
		    	<div class="uploadedText">Uploaded Files</div>
		    	<ul class="uploadedDocs">
		    	</ul>
	    	</div>

		</div>
	    
	</div>
</body>
</html>
