<!DOCTYPE html>
<html>
    <head>
        <title>GhostWryte.ai</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favIcon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="only screen and (max-width: 991px)" href="{{ url_for('static', filename='styleSmall.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleLarge.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleXLarge.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    </head>

    <body>
        <nav class="workspaceTab">
            <section class="brandingBoxWrapper">
                <img src="{{ url_for('static', filename='images/newLogoAlternate.png') }}" alt="Ghostwryte.ai" class="logoImg">
                <span class="brandingText" data-text=".AI">Ghostwrtye</span>
                <button class="shrinkButton" id="shrinkBtn"><img src="{{ url_for('static', filename='images/shrinkBox.png') }}" alt="Shrink" class="shrinkImg" /></button>
            </section>
            <div class="navigationWrapper">
                <button id="newChat" class="navigationButton newChat"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/plus.svg') }}" class="barImg">New Content</button>
                <a href="{{ url_for('content_generation') }}" class="navigationButton"><img style="vertical-align: middle;" src="{{ url_for('static', filename='images/ContentGeneration.png') }}" class="barImg" />Content Generation</a>
                <a href="{{ url_for('generation_history') }}" class="navigationButton" id="historyTab">
                    <img style="vertical-align: middle;" src="{{ url_for('static', filename='images/historyIcon.svg') }}" class="barImg" />Generation History
                </a>
                <a href="{{ url_for('ai_training') }}" class="navigationButton" id="aiTrain"><img style="vertical-align: middle;" src="{{ url_for('static', filename='images/AITraining.png') }}" class="barImg" />AI Training</a>
            </div>
            <div class="logOutWrapper">
                <button type="button" id="LOButton" class="logOut"><img style="vertical-align: middle;" src="{{ url_for('static', filename='images/doorIcon.png') }}" class="logOutImg" />Log out</button>
            </div>
        </nav>

        <main class="mainContentWrapper">
            <div class="mainContentWindow">
                <div class="aiTrainingWrapper">
                    <div class="fileUploadWrapper">
                        <section class="innerUploadWrapper" tabindex="0">
                            <img style="vertical-align: middle;" src="{{ url_for('static', filename='images/CloudImg.jpg') }}" class="uploadImg" />
                            <h1 class="instructionText">Drop your files here</h1>
                            <h1 class="instructionText Two">or</h1>
                            <div class="browse">Browse</div>
                        </section>
                        <section class="uploadedFilesAndButtons">
                            <div class="uploadedFiles"></div>
                            <div class="uploadAndTrainButtons">
                                <button id="UploadData">Upload Data</button>
                                <button id="TrainModel">Train Model</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <div class="toast-overlay" id="toast-overlay"></div>

        <section class="clearBackground" id="popUpWindowContainer">
            <div class="popUpWindowContainer">
                <div class="spanContainer">
                    <img src="{{ url_for('static', filename='images/greenCheckmark.svg') }}" alt="Ghostwryte.ai" class="popUpImg" />
                    <span class="innerText one">We're training your model</span>
                    <span class="innerText two">This may take a few minutes, we'll notify you when it's done!</span>
                </div>
                <button class="closePopUpButton" id="closePopUp">Got it!</button>
            </div>
        </section>

        <script type="module" src="{{ url_for('static', filename='javascript.mjs') }}" defer></script>
    </body>
</html>

<!-- Example Instance 
    <div class="uploadedFileInstance">
    <img style="vertical-align:middle" src="{{ url_for('static', filename='images/textFile.png') }}" class="fileInstanceImgTxt">
    <span class="fileName">Example.txt</span>
    <button class="deleteFileButton"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/redx.png') }}" class="fileInstanceImgX"></button>
</div> -->
