<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face {
            font-family: "Moon";
            src: url("/static/fonts/MoonLight.otf");
        }
        @font-face {
            font-family: "FranieLight";
            src: url("/static/fonts/FranieLight.otf");
        }
        @font-face {
            font-family: "FranieRegular";
            src: url("/static/fonts/FranieRegular.otf");
        }
    </style>
    <title>GhostWryte.ai</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="workspaceTab">
        <div class="navigationWrapper">
            <div class="userInformationWrapper">
                <div class="profilePicture"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/emptyProfile.png') }}" class="profileImg"></div>
                <div class="userEmail">userEmail@example.com</div>
            </div>
            <button class="navigationButton" style="background: var(--mainColor); box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/ContentGeneration.png') }}" class="barImg"><a href="{{ url_for('content_generation') }}"> Content Generation</a></button>
            <button class="navigationButton"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/StyleAndFormatting.png') }}" class="barImg"><a href="{{ url_for('styling_and_format') }}"> Styling & Format</a></button>
            <button class="navigationButton"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/AudienceInsights.png') }}" class="barImg"><a href="#"> Audience Insights</a></button>
            <button class="navigationButton"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/Templates.png') }}" class="barImg"><a href="#"> Templates</a></button>
            <button class="navigationButton"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/AITraining.png') }}" class="barImg"><a href="{{ url_for('ai_training') }}"> AI Training</a></button>
            
        </div>
        <div class="logOutWrapper">
            <button type="button" id="LOButton" class="logOut"><img style="vertical-align:middle" src="{{ url_for('static', filename='images/doorIcon.png') }}" class="logOutImg">Log out</button>
        </div>
    </div>

    <div class="mainContentWrapper">

        <div class="mainContentWindow">
            <div class="mainWindowColumn">
                <div class="titleBar">
                    <input placeholder="Untitled Document" class="titleText"/>
                </div>
                <div class="generationAndHistoryWrapper">
                    <div class="contentGenerationWrapper">
                        <div class="contentGenWindow">
                            <pre>{{ ai_response }}</pre>
                        </div>
                        <div class="queryWrapper">
                            <form id="generateForm" method="post" action="{{ url_for('generate_content') }}" class="bottomRowInnerWrapper">
                                <input type="hidden" name="user_id" id="formUserId"> 
                                <textarea name="user_prompt" class="queryBox" placeholder="Enter prompt..."></textarea>
                                <button type="submit" class="genButton" id="genButtonID"><img src="{{ url_for('static', filename='images/upArrow.png') }}" class="genImg"></button>
                            </form>
                        </div>
                    </div>
                    
                    <div class="historyWrapper">
                        <div class="historyID">History</div>
                        <div class="historyContentWindow">
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- <button type="submit" class="genButton" id="genButton"><img src="{{ url_for('static', filename='images/clipboard.png') }}" class="genImg"></button> -->
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='javascript.mjs') }}" defer></script>
</body>

</html>
