<!-- landing_page.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GhostWryte.ai</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favIcon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="only screen and (max-width: 991px)" href="{{ url_for('static', filename='styleSmall.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleLarge.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleXLarge.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <section class="landingPageContainer">
            <nav class="topBarContainer">
                <section class="logoAndNameLanding">
                    <img src="{{ url_for('static', filename='images/newLogoBlack.png') }}" class="landingPageLogoImg">
                    <span class="landingPageBrandingText">Ghostwrtye.AI</span>
                </section>
                <section class="navButtonsContainer">
                    <a href=""><div class="landingNavButton">Home</div></a>
                    <a href=""><div class="landingNavButton">Pricing</div></a>
                    <a href=""><div class="landingNavButton">Contact Us</div></a>
                </section>
                <section class="landingAccountAccessContainer">
                    <button class="loginAccessButton">Login</button>
                    <!-- <button></button> -->
                </section>
            </nav>

            <main class="landingBottomContent">
               
            </main>
        </section>
    </body>
</html>
