<!DOCTYPE html>
<html>
    <head>
        <title>GhostWryte.ai</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favIcon.ico') }}">
        <link rel="stylesheet" type="text/css" media="only screen and (max-width: 991px)" href="{{ url_for('static', filename='styleSmall.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleLarge.css') }}" />
        <link rel="stylesheet" type="text/css" media="only screen and (min-width: 992px)" href="{{ url_for('static', filename='styleXLarge.css') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
        <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body class="accountCreationPg">
        <div class="AccCP" id="passResetPage">
            <header class="topbarContainer">
                <img src="{{ url_for('static', filename='images/newLogoBlack.png') }}" alt="Ghostwryte.ai" class="logoImgAcc" />
                <span class="loginBrandText">Ghostwrtye.AI</span>
            </header>
            <section class="resetContainer">
                <span class="resetText">Reset your password</span>
                <span class="resetInstructions">Enter your email addres and we'll send you a link to get back into your account.</span>
                <label for="resetPassword" id="confText" class="resetPasswordBoxText">Email Address</label>
                <input class="loginInputBox" type="email" id="resetPassword" placeholder="name@domain.com" />
                <button class="submitPassReset" id="submitPassReset">Send Link</button>
            </section>
        </div>
        <div class="toast-overlay" id="toast-overlay"></div>
        <script type="module" src="{{ url_for('static', filename='javascript.mjs') }}" defer></script>
    </body>
</html>
